html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}

h1 {
  text-align: center;
  font-size: 40px;
  color: #37ccd6;
}

.search-form {
  text-align: center;
  margin: 0 auto;
}

.search-form > input {
  width: 500px;
  height: 50px;
  border: 2px solid #37ccd6;
  border-radius: 20px;
  padding: 0 20px;
  outline: none;
}
